/*
https://css-tricks.com/old-timey-terminal-styling/
https://dev.to/ekeijl/retro-crt-terminal-screen-in-css-js-4afh
*/
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@keyframes cursor {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: black;
  background-image: radial-gradient(rgba(1, 88, 1, 0.75), black 80%);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
}

body,
.output-container,
.prompt,
.terminal,
.cursor {
  font-family: "VT323", monospace;
  font: 2.5rem Inconsolata, monospace;
  font-family: "Share Tech Mono", monospace;
  text-shadow: 0 0 5px #c8c8c8;
  text-transform: uppercase;
  color: white;
  animation: type 0.5s linear 0s 1;
}

.terminal,
.cursor {
  color: rgba(3, 245, 3, 0.75);
  caret-color: transparent;
}
.cursor::after {
  content: "■";
  animation: cursor 1s infinite;
  animation-timing-function: step-end;
  margin-left: 3px;
  line-height: 1rem;
}
.output-container {
  padding-left: 1rem;
  overflow: "auto";
  cursor: "text";
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.prompt {
  color: rgb(248, 133, 2);
}

.terminal {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
#monitor::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 20%,
    rgba(0, 0, 0, 0.25) 20%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
}

#screen {
  width: 84ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
*/ a {
  color: #0bc;
  text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
  color: #0bc;
}

#b {
  color: #ff0096;
}

#k {
  animation: change 1s;
}

#op {
  color: #888888;
}

@keyframes change {
  0% {
    color: #0f0;
  }
  50% {
    color: #0f0;
  }
  99% {
    color: black;
  }
}
